.main {
  background-color: #fff;
  border: 1px solid;
  width:200px;
  margin: 19px auto;
  padding: 22px 40px;
}
.login {
  text-align: center;
}
.btn_login {
  padding: 6px 68px;
  margin: 16px 0px;
}

.main_div p {
  text-align: center;
}
.main_div .btn_account {
  padding: 4px 8px;
  text-align: center;
}
.btn_account {
  padding: 6px 6px;
  text-align: center;
}


